{% extends '_layouts/base.njk' %}

{% block content %}
<div class="container">
  
  <div class="row">
    <div class="col-sm-4">
      <img src="img/members/{{members.image}}" class="img-fluid" alt="">
    </div>

    <div class="col-sm-8 border-left">
        <h1> {{ members.name }} </h1>
        <ul>
          <li> Born: {{members.birthdate}} </li>
          <li> {{members.birthplace}} </li>
          <li> Tenure: {{members.tenure}} </li>
          <li> Known for: {{members.instruments}} </li>
        </ul>
        <div> {{members.text | safe }} </div>

               
    </div>
  </div>

</div>

{% endblock %}
