{% extends '_layouts/base.njk' %}

{% block page_title %}THE BAND QUEEN{% endblock %}

{% block content %}



<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center">Queen</h1>

    <p class="lead text-center">Since 1970</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col text-center">
    <h3>Meet the Greatest Band of All Time</h3>
    <p class="author">By Anna Whitehead</p>
    <p class="date"> Published December 8, 2019</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>
        <a href="https://en.wikipedia.org/wiki/Queen_(band)">Queen</a> are a British rock band formed in London in 1970. Their classic line-up was Freddie Mercury (lead vocals and piano), Brian May (lead guitar and vocals), Roger Taylor (drums and vocals) and John Deacon (bass guitar). Their earliest works were influenced by progressive rock, hard rock and heavy metal, but the band gradually ventured into more conventional and radio-friendly works by incorporating further styles, such as arena rock and pop rock.
      </p>
      </div>
  </div>

<div class="row">
  {% for member in data.members %}
  <div class="col-sm-6 col-lg-3"> 
      <div class="card mb-4" style= "width 18rem">
        <img class="card-img-top" src="img/members/{{ member.image }}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title text-center"> {{ member.name }}</h4>
          <p class="lead-graf text-center"> {{member.instruments}}</p>
          <a href="{{ member.slug }}.html" class="button text-center">Learn More</a>
        </div>
      </div>
 </div>
  {% endfor %}
</div>
</div>

{% endblock %}
