//jumbotron

.jumbotron {
  background-image: url("../img/queen-band-wallpaper-thin.jpg");
  background-position: center;
  background-size: cover;
  padding: 125px;

  h1 {
    color:white;
    font-family: 'Dancing Script' , cursive;

  }
}

.lead{
  font-family: 'Dancing Script' , cursive;
  text-align: center;
  color: red;

}