
.footer {
  padding-top: 20px;
  padding-bottom: 50px;
}


h3{ 
  font-family: 'Dancing Script' , cursive;
  text-align: center;
  color :white;

}

.detail{
  color: white; 
}

a{
  color: red;
}

p{
  color: white;
}

.lead-graf{
color: black; 
}

.card-text{
color:black;
}

.card-title{
  color: black;
}

.albums {
  color: white;
}

.button {
  color: black;
}

.author {
  color:white;

}

.date {
  color:white;
}


